$colorprimary: #7cc6fe;
$colorsecondary: #ffffff;
$colortertiary: #020d31;
$colorquater: #19213c;
//ter  1c3177
//#555e7d quter
//19213c prim
//8db1cc sec
/*ancien bleu foncé #252d4a; */

$neon1: rgba(1, 0, 236, 1);
$neon2: rgba(248, 54, 244, 1);
$neon3: rgba(0, 255, 237, 1);
$neon4: rgba(157, 0, 198, 1);

body {
  height: 100vh;
  background-color: $colorprimary;
  background: linear-gradient($neon3, $colorprimary 10%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
}

.app {
  /* #252d4a; */

  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  border: 2px solid transparent;
  background: linear-gradient($colortertiary, $colortertiary) padding-box,
    $colorsecondary border-box;

  width: 70%;
  min-width: 800px;
  min-height: 640px;

  border-radius: 15px;
  padding: 20px;
  margin: 42px auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container {
  color:$colorsecondary;
}
.welcome {
  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 640px;
    margin: 0 auto;
  }
  &-bg {
    position: relative;
    top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: text;
    background-image: url(./assets/quizbg.webp);
    width: 800px;
    height: 398px;
    background-position-x: 1000%;
  }
  &-text {
    top:10px;
    padding: 0;
    margin: 0;
    scale: 0;
    
    animation: text_pop 2.3s ease 0.2s forwards;
    position: relative;
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 350px;
    letter-spacing: -8px;
  }
}

@keyframes text_pop {
  from {
    scale: 0;
    top:-200px;
  }
  50%{
    top:-100px;
  }
  70% {
    color: white;
  }


  100% {
    top:10px;
    color:transparent;
    scale: 1;
  }
}

.quiz-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
.score-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
}

.options {
  &-container {
    color:$colorsecondary;
    display: flex;
    flex-direction: column;
    & h1 {
      text-align: center;
    }
  }
  &-menu {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin: 32px 0;

  }
  &-categories-list {
    margin: 0 16px;
  }
}

.question {
  &-options-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 640px;
  }
  &-section {
    display: flex;
    flex-direction: column;
  }
  &-count {
    margin-bottom: 20px;
    & span {
      font-size: 28px;
    }
  }
  &-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-type {
    margin-bottom: 8px;
  }
  &-difficulty {
    margin-bottom: 18px;
  }
  &-text {
    max-width: 800px;
    text-align: center;
    margin-bottom: 12px;
    height: 80px;
  }
  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
  }
  &-img {
    height: 300px;
    max-height: 300px;
    object-fit: cover;
    &-container {
      border: 1px solid $colorsecondary;
      background: rgba(255, 255, 255, 1);
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
 
}

.timer-text {
  text-align: center;
  width: 60px;
  margin: 0 auto;
  background: rgb(38, 59, 123);
  padding: 20px 20px 20px 20px;
  border: 4px solid $colorsecondary;
  border-radius: 15px;
  position: absolute;
}

.alert-msg {
  margin-top: 16x;
  color: red;
  text-shadow: 1px 1px black;
}

.icon-category {
  width: 22px;
  height: 22px;
}
.icon-question-head {
  width: 34px;
  height: 34px;
}

.answer-section {
  width: 80%;
  margin: 8px auto;
}
.checkbox {
  transform: scale(1.8);
  margin: 8px;
  &-option {
    margin: 4px;
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    & label:hover,
    & input:hover {
      cursor: pointer;
    }
  }
}

.label {
  padding-left: 4px;
}

.btn {
  margin: 16px auto;
  padding: 8px;
  width: 42%;
  min-width: 300px;
  box-shadow: 2px 3px #333;
  font-size: 16px;
  color: $colorsecondary;
  background-color: #252d4a;
  border: 5px solid #234668;

  background: linear-gradient($colortertiary, $colortertiary) padding-box,
    linear-gradient(45deg, slateblue, coral) border-box;
  border: 5px solid transparent;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 2px 3px transparent;
    background: linear-gradient($colorquater, $colorquater) padding-box,
      linear-gradient(45deg, purple, orange) border-box;
    outline: none;
  }

  &-play,
  &-ready {
    max-width: 260px;
    padding: 24px;
  }
  &-reset {
    text-align: center;
    margin-top: 32px;
  }
}

.details {
  color: $colorsecondary !important;
  border-radius: 15px;
  background: $colorsecondary;
  margin: 12px auto;
  &-question {
    text-align: center;
    border-radius: 14px;
    padding: 12px;
    background: #234668 !important;
    &-text {
      color:$colorsecondary;
      display: flex;
      flex-direction: column;
    }
    &-container {
      margin:2px;
    }
  }
}

.summary {
  padding: 8px;
  color: #234668;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  &:hover {
    cursor: pointer;
  }
}

details > summary::after,
details > summary::before {
  content: "+";
  margin: 0 4px;
}

details[open] > summary::after,
details[open] > summary::before {
  content: "-";
  margin: 0 4px;
}
details[open] summary ~ * {
  animation: sweep 0.6s ease-in-out;
}

details > summary::-webkit-details-marker {
  display: none;
}

.star-container {
  display: flex;
}
.star-img {
  width: 16px;
  margin: 2px;
}

.true-answer,
.correct-answer {
  padding-top: 8px;
}
.score-details-label {
  margin:4px auto;
  padding:2px;
  background: $colorsecondary;
  border-radius: 15px;
}
.score-details-container {
  text-align: center;
}
.score-points-text {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

////////////////////////////////////////////
////////////////////////////////////////////

@media screen and (max-width: 900px) {
  body {
    height: fit-content;
  }
  @keyframes text_translate_Y {
    from {
      top: -130px;
    }
    to {
      top: 100px;
    }
  }

  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-width: 450px;
    margin: 42px auto 0;
  }

  .questions-options-menu {
    flex-direction: column;
  }
  .question-img-container {
    max-height: 200px;
  }
  .question-img {
    height: 200px;
  }

  .btn {
    min-width: 320px;
  }

  .welcome-bg {
    margin: 0 auto;
    width: 380px;
    background-position: 0;
  }
  .welcome-text {
    top: -130px;
    scale: 1;
    animation: none;
    animation: text_translate_Y 2s ease 0.2s forwards;
    letter-spacing: -8px;
    font-size: 180px;
  }
}

////////////////////////////////////////////
////////////////////////////////////////////

@media screen and (max-width: 510px) {
  .app {
    min-height: 100vh;
    width: 100%;
    min-width: 340px;
    padding: 0;
    margin: 0 0;
    border: none;
    border-radius: 0;
  }
  .question-img {
    max-width: 300px;
  }
  .welcome-bg {
    background-image: url("https://ampoule.mobi/wp-content/uploads/2019/07/amppuissante.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-clip: unset;
  }
  .welcome-text {
    color: $colorsecondary;
    letter-spacing: -2px;
    font-size: 150px;
  }
  .welcome-main {
    width: 100%;
  }

  .answeroption-btn {
    width: 300px;
  }

  .icon-category {
    width:18px;
    height:18px;
  }
  .options-menu {
    padding: 0 16Px;
  }

  .options-categories-list{
    margin:0;
    & h2 {
      max-width: 250px;
    }
    &:first-child {
      margin-right:12px;
    }
  &:nth-child(2) {
flex:1;
margin-right:12px;
  }
}
}
